
@{
    ViewData["Title"] = "DashboardHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DashboardHome</h1>
<div class="right-section">
    <div class="row">
        <h2 class="main-heading d-flex mt-4">
            Welcome to Logic World
            <div class="ml-auto topmenu" id="navbarText">
                <select class="form-control form-control-height">
                    <option> All Days </option>
                </select>
            </div>
        </h2>
        <h2 class="sub-heading"> Overview </h2>
        <div class="col-md-3">
            <div class="d-flex card-box">
                <div class="icons">
                    <i class="fa fa-file-text-o"></i>
                </div>
                <div>
                    <h2>Agency</h2>
                    <a href="#" class="read-more"> 145 </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex card-box payment">
                <div class="icons">
                    <i class="fa fa-credit-card"></i>
                </div>
                <div>
                    <h2>Agent</h2>
                    <a href="#" class="read-more"> 2450 </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex card-box invent">
                <div class="icons">
                    <i class="fa fa-dashboard"></i>
                </div>
                <div>
                    <h2>Leads</h2>
                    <a href="#" class="read-more"> 2210 </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex card-box comp">
                <div class="icons">
                    <i class="fa fa-sitemap"></i>
                </div>
                <div>
                    <h2 class="last-rec">Recruitment</h2>
                    <a href="#" class="read-more"> 175 </a>
                </div>
            </div>
        </div>
    </div>
</div>
